venv
/media
687899499
1464393594/
pypi.org/
www.pizzabella.com.ua/
TEST/
sites/
www.youtube.com/
__pycache__
*.jpg
*.db
*.mp4
*.zip
bot2.py
pasport_gen2.py
testt.py
text.txt
templates/n.png
ffmpeg.exe
ffplay.exe
ffprobe.exe
test.txt
1464393594.txt
687899499.txt